/* Stylesheet for the 'ICustomTheme' Plone browser layer */

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #202223;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #707070;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #FEE722;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

#banner-wrapper
{
	overflow: hidden;
	height: 25em;
	background: url(images/img01.jpg) no-repeat top center;
	background-size: cover;
}

#header-wrapper
{
	background: #181818;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	height: 60px;
}

/** LOGO */

#logo {
	position: relative;
	float: left;
	width: 480px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
}

#logo h1 a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 60px;
	color: #FFF;
}

/** MENU */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0px 2em;
}

#menu a {
	display: block;
	line-height: 60px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
}

#menu a:hover {
	text-decoration: underline;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 5em 0em 0em 0em;
}

/** CONTENT */

#content {
	float: left;
	width: 730px;
	border: 1px solid #E7EBED;
	border-radius: 8px;
	background: #FFF;
	padding: 50px 50px 30px 50px;
}

.post {
	overflow: hidden;
	padding: 50px 50px 30px 50px;
	margin-bottom: 40px;
	border: 1px solid #E7EBED;
	border-radius: 8px;
	background: #FFF;
}

#post a
{
	color: #262626;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	font-size: 1.5em;
	letter-spacing: -2px;
	text-decoration: none;
	font-weight: 600;
	color: #222222;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #222222;
	border-radius: 8px;
	color: #FFFFFF !important;
	text-align: center;
	text-decoration: none;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	background: #222222;
	color: #FFFFFF !important;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 350px;
	padding-top: 5em;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 60px;
}

#sidebar li li {
	line-height: 40px;
	border-bottom: 1px solid #282A2B;
	margin: 0px 0px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #707070;
}

#sidebar h2 {
	height: 38px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	font-weight: 600;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}
/* Footer */

#footer {
	overflow: hidden;
	padding: 3em 0em;
	border-top: 1px solid #282A2B;
}

#footer p {
	text-align: center;
}

#footer a {
	color: #6B6B6B;
}
